// DEFINING COLOR PALLET

:root {
  // Light mode
  --pallet-primary: #100774;
  --pallet-secondary: #2a18f2;
  --pallet-accent: #d138bf;
  --pallet-light: #ffffff;

  // Dark mode
  --pallet-dm-bg-dark: #222831;
  --pallet-dm-bg-light: #393e46;
  --pallet-dm-primary: #4361ee;
  --pallet-dm-secondary: #4cc9f0;
  --pallet-dm-accent: #f72585;
  --pallet-dm-light: #eeeeee;
}

// AUTOMATIC THEME COLORS

@media (prefers-color-scheme: dark) {
  html.auto {
    --color-bg-light: var(--pallet-dm-bg-light);
    --color-bg-dark: var(--pallet-dm-bg-dark);
    --color-primary: var(--pallet-dm-primary);
    --color-secondary: var(--pallet-dm-secondary);
    --color-accent: var(--pallet-dm-accent);
    --color-light: var(--pallet-dm-light);
  }
}

@media (prefers-color-scheme: light) {
  html.auto {
    --color-bg-light: var(--pallet-dm-bg-light);
    --color-bg-dark: var(--pallet-dm-bg-dark);
    --color-primary: var(--pallet-primary);
    --color-secondary: var(--pallet-secondary);
    --color-accent: var(--pallet-accent);
    --color-light: var(--pallet-light);
  }
}

// MANUALLY SELECTED THEME COLORS

html.dark-mode {
  --color-bg-light: var(--pallet-dm-bg-light);
  --color-bg-dark: var(--pallet-dm-bg-dark);
  --color-primary: var(--pallet-dm-primary);
  --color-secondary: var(--pallet-dm-secondary);
  --color-accent: var(--pallet-dm-accent);
  --color-light: var(--pallet-dm-light);
}

html.light-mode {
  --color-bg-light: var(--pallet-light);
  --color-bg-dark: var(--pallet-primary);
  --color-primary: var(--pallet-primary);
  --color-secondary: var(--pallet-secondary);
  --color-accent: var(--pallet-accent);
  --color-light: var(--pallet-light);
}
