header {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-light);
  background-color: var(--color-primary);
}

// Logo & Branding Styles
.logo-menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.branding {
  font-size: 2em;
  font-weight: 600;
  color: var(--color-light);
  text-decoration: none;
}

#menuButton {
  background: none;
  color: var(--color-light);
  border: none;
}

// Navigation Styles
.main-nav > ul {
  display: flex;
  text-decoration: none;
  flex-direction: column;
}

.main-nav.hidden {
  height: 0;
}

.main-nav > ul > li {
  list-style: none;
  padding: 1em;
}

.main-nav > ul > li > a {
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (min-width: 650px) {
  #menuButton {
    display: none;
  }

  .main-nav > ul {
    flex-direction: row;
  }

  header {
    flex-direction: row;
  }

  .main-nav.hidden {
    height: auto;
  }
}
