header {
  padding: 0 2em;
  display: flex;
  color: var(--color-light);
  background-color: var(--color-primary);
  justify-content: space-between;
}

// Logo & Branding Styles
.branding {
  font-size: 2em;
  font-weight: 600;
}

// Navigation Styles
.main-nav > ul {
  display: flex;
  text-decoration: none;
}

.main-nav > ul > li {
  list-style: none;
  padding: 1em;
}

.main-nav > ul > li > a {
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
