@import "typography";
@import "colorpallet";
@import "resets";
body {
  font-family: $body-font;
  font-weight: $font-weight-normal;
}

@import "header";
@import "forms";
@import "footer";

.content-wraper {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.card {
  border: 1px solid black;
}

.big-center-card {
  flex: 1 1 900px;
}
