        <footer class="page-footer">
            <a class="copyright" href="https://joakimtveter.no">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> | Joakim Hannestad Tveter</a>
        </footer>
    </body>
</html>