<header class="page-header">
  <a href="/"><div class="branding">My CRM</div></a>
  <nav class="main-nav">
    <ul>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/companies">Companies</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </nav>
</header>
