<%- include('../views/partials/head.ejs') %> <%- include('../views/partials/header.ejs') %>
<h1>Hello World!</h1>
<nav>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/add-user">Add User</a></li>
    <li><a href="/login"></a>Test</li>
  </ul>
</nav>
<%- include('../views/partials/footer.ejs') %>
