@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

:root {
  --pallet-primary: #100774;
  --pallet-secondary: #2a18f2;
  --pallet-accent: #d138bf;
  --pallet-light: #ffffff;
  --pallet-dm-bg-dark: #222831;
  --pallet-dm-bg-light: #393e46;
  --pallet-dm-primary: #4361ee;
  --pallet-dm-secondary: #4cc9f0;
  --pallet-dm-accent: #f72585;
  --pallet-dm-light: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  html.auto {
    --color-bg-light: var(--pallet-dm-bg-light);
    --color-bg-dark: var(--pallet-dm-bg-dark);
    --color-primary: var(--pallet-dm-primary);
    --color-secondary: var(--pallet-dm-secondary);
    --color-accent: var(--pallet-dm-accent);
    --color-light: var(--pallet-dm-light);
  }
}

@media (prefers-color-scheme: light) {
  html.auto {
    --color-bg-light: var(--pallet-dm-bg-light);
    --color-bg-dark: var(--pallet-dm-bg-dark);
    --color-primary: var(--pallet-primary);
    --color-secondary: var(--pallet-secondary);
    --color-accent: var(--pallet-accent);
    --color-light: var(--pallet-light);
  }
}

html.dark-mode {
  --color-bg-light: var(--pallet-dm-bg-light);
  --color-bg-dark: var(--pallet-dm-bg-dark);
  --color-primary: var(--pallet-dm-primary);
  --color-secondary: var(--pallet-dm-secondary);
  --color-accent: var(--pallet-dm-accent);
  --color-light: var(--pallet-dm-light);
}

html.light-mode {
  --color-bg-light: var(--pallet-light);
  --color-bg-dark: var(--pallet-primary);
  --color-primary: var(--pallet-primary);
  --color-secondary: var(--pallet-secondary);
  --color-accent: var(--pallet-accent);
  --color-light: var(--pallet-light);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-light);
  background-color: var(--color-primary);
}

.logo-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.branding {
  font-size: 2em;
  font-weight: 600;
  color: var(--color-light);
  text-decoration: none;
}

#menuButton {
  background: none;
  color: var(--color-light);
  border: none;
}

.main-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-nav.hidden {
  height: 0;
}

.main-nav > ul > li {
  list-style: none;
  padding: 1em;
}

.main-nav > ul > li > a {
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (min-width: 650px) {
  #menuButton {
    display: none;
  }
  .main-nav > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-nav.hidden {
    height: auto;
  }
}

form input {
  display: block;
}

.view-password {
  position: absolute;
}

.form-control {
  position: relative;
}

.view-password {
  bottom: 0;
  left: 120px;
}

.page-footer {
  background-color: black;
  width: 100%;
}

.copyright {
  display: block;
  color: var(--color-light);
  text-decoration: none;
  margin: 0 auto;
}

.content-wraper {
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card {
  border: 1px solid black;
}

.big-center-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 900px;
          flex: 1 1 900px;
}
/*# sourceMappingURL=main.css.map */